@model RentalCars.Models.User
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Informacije o Korisniku</h1>
<h2>@Model.FirstName @Model.LastName</h2>
<p>@Model.Year</p>


<br />

