@model IEnumerable<RentalCars.Models.Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Spisak Automobila</h2>

<table class="table table-bordered table-responsive table-striped">
    <thead>
        <tr>

            <th>Proizvodjac</th>
            <th>Model</th>
            <th>Godiste</th>


        </tr>
    </thead>

    <tbody>
        @if (Model != null)
        {
            foreach (var car in Model)
            {
                <tr>

                    <td>@car.Manufacture</td>
                    <td>@car.Model</td>
                    <td>@car.Year</td>

                </tr>
            }
        }
    </tbody>
</table>